body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Orenge{
    color:orange;
}
.flexible-continer{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-butten{
    text-decoration:none;
    background-image: linear-gradient(tomato,salmon
    );
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences-item{
    width: 45%;
    margin-left: 5%;
    margin-right:5%;
    box-shadow: 10px 10px 40px #504c4c;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h2{
    font-size: 40px;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Baby-deviloper{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(19, 17, 1),salmon);
    border-image-slice: 1;
}
#Full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(231, 12, 147),salmon);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: slateblue;
}
